*.pyc
__pycache__
myvenv
db.sqlite3
.DS_Store
blog/migrations/0002_post_category.py
blog/migrations/0003_comment.py
blog/migrations/0004_auto_20170517_1608.py
blog/migrations/0006_auto_20170517_1619.py
blog/migrations/0005_auto_20170517_1616.py
blog/migrations/