{% extends 'blog/base.html' %}

{% block content %}
    <div class="guestForm">
        <h2> 방명록 입니다. </h2>
        <form method="POST" class="post-form">
            {% csrf_token %}
            <p>
                <input class="id_text" type="text" name="text" id="id_text" max-length="120" placeholder=" 요기 입력 ! " />
                <button type="submit" class="btn btn-default">남기기</button>
            </p>
        </form>
    </div>

    {% for note in notes.all %}
        <div class="comment">
            <p>
                <div class="date">{{ note.created_date|date:"y-m-d H:m" }}</div>
                {{ note.text|safe|linebreaks }}
        </p>
        </div>
    {% empty %}
        <div class="comment">
            <p>등록된 글이 없습니다.</p>
        </div>
    {% endfor %}

    <script>
        $(document).ready(function(){

        });
    </script>
{% endblock %}