{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            {% if post.category_id == 1 %}
                <h4>- python -</h4>
            {% elif post.category_id == 2 %}
                <h4>- java & spring -</h4>
            {% elif post.category_id == 3 %}
                <h4>- javascript -</h4>
            {% elif post.category_id == 4 %}
                <h4>- etc -</h4>
            {% elif post.category_id == 5 %}
                <h4>- server -</h4>
            {% endif %}
            <h1><a href="{% url 'detail' pk=post.pk %}" title="{{ post.text|striptags|truncatewords:'5' }}">{{ post.title }}</a></h1>
            <p>{{ post.published_date }}</p>
            <a href="{% url 'detail' pk=post.pk %}">댓글 : {{ post.approved_comments.count }}</a>
        </div>

    {% empty %}
        <div class="post">
            <h1>  등록된 글이 없습니다. </h1>
        </div>
    {% endfor %}

    {% if posts|length > 0 %}
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    {% if posts.has_previous %}
                        {% if ctg|length > 0 %}
                            <a href="/category/{{ctg}}/page/{{ posts.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                        {% else %}
                            <a href="/page/{{ posts.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                        {% endif %}
                    {% else %}
                        <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                    {% endif %}
                </li>

                <li>
                    <a href="#" >  {{ posts.number }} / {{ posts.paginator.num_pages }}  </a>
                </li>

                <li>
                    {% if posts.has_next %}
                        {% if ctg|length > 0 %}
                            <a href="/category/{{ctg}}/page/{{ posts.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                        {% else %}
                            <a href="/page/{{ posts.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                        {% endif %}
                    {% else %}
                        <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    {% endif %}
{% endblock content %}