
@media screen and (max-width:667px) {

h1 {
    font-size: 30px;
    margin-top: 10px;
}

h4 {
    margin-bottom: -10px;
}

p {
    margin: 0px 0px 0px 0px;
}

.page-header {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 20px 30px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    font-size: 30pt;
}

.page-header ul{
    margin-top: 5px;
    margin-bottom: 0px;
}

.post {
    margin-bottom: 30px;
}

.post p {
    font-size: small;
}

.post p img {
    padding: 10px;
}

.comment p {
    margin-left: 0px;
}

.comment .date {
    margin-right: 0px;
}

.comment .txt {
    margin-left: 0px;
}

.col-md-12 {
    padding: 0px 5px;
}

}