
            <div class="row">
                <div class="col-md-1">
                    <a href="javascript:alert('hello?');">
                        <img src="/static/image/1_test.jpg" />
                    </a>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h1><a href="mailto:provi.choi@gmail.com">mailto : provi.choi@gmail.com</a> | <a href="https://www.instagram.com/haeng.bokk/" target="_blank">@행이복이 </a></h1>
                    <p>© 2017. provi</p>
                </div>
            </div>
