            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <h1><strong><a href="/">provi's Blog</a></strong></h1>
            <p><b>DEV history</b> <a href="/fb_chatbot/chat_room">(go chat_beta)</a></p>
            <ul class="menu">
                <li><a href="/category/py">Python(+Django)</a></li>
                <li><a href="/category/java">Java(+Spring)</a></li>
                <li><a href="/category/server">Server</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/guest">Guest</a></li>
            </ul>